<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABC Payroll Admin Portal</title>
    <link rel="stylesheet" href="PayrollStyle.css">
    <link rel="stylesheet" href="normalize.css">
</head>
<body>
    <h1>ABC Payroll Company ADMIN PORTAL</h1>
    <br>
    <h3>Welcome, Admin! Please choose an option below:</button></h3><br><br>
<button type="Employee Personal Information">Employee Personal Information</button><br><br>
<button type="Employee Pay Details">Employee Pay Details</button><br><br>
<button type="Manage Payroll">Manage Payroll</button><br><br>
<button type="Application Info">Application Info</button><br><br><br>
<button type="logout">LOGOUT</button>
    
</body>
</html>