<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee PTO Entry</title>
    <link rel="stylesheet" href="PayrollStyle.css">
    <link rel="stylesheet" href="normalize.css">
</head>
<body>

    <h1>Employee PTO Entry</h1>
    <label for="Name Of Employee">Employee Full Name:</label><br>
    <input type="data" id="employee name" name="work time" required><br><br>

    <label for="date">Date:</label><br>
    <input type="date" id="work date" name="work date" required><br><br>

    <label for="PTO time used:">Time to include in PTO (hrs):</label><br>
    <input type="data" id="PTO time" name="work time" required><br><br>

    <button type="enter">Enter</button><br><br>
    
</body>
</html>